* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url();
  font-display: swap;
  font-weight: 500;
  font-size: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #d4d6d4;
}

.header {
  padding: 24px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  border-radius: 100%;
  padding: var(--offset-vertical) var(--offset-horizontal);
  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
}

.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  display: inline-block;
  width: calc(100% - (var(--offset-horizontal) * 2));
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  background-image: url(hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-top: 189px;
  padding-bottom: 30px;
}

.hero-content {
  max-width: 616px;
  color: #fff;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
